{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}
    <div>
        <h1>Rango says...</h1>
            {% if user.is_authenticated %}
                hello {{ user.username }}
            {% else %}
                hey there partner!
            {% endif %}
    </div>

        <div>
            <div>
                <h3>Most Liked Categories</h3>
            </div>
            {% if categories %}
            <ul>
                {% for category in categories %}
                    <li>
                        <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no categories present</strong>
            {% endif %}
            <div>
                <h3>Most viewed Pages</h3>
            </div>
            {% if pages %}
            <ul>
                {% for page in pages%}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <srtong>There are no categories present.</srtong>
            {% endif %}

            <ul>
                <li><a href="{% url 'add_category' %}">Add New Category</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'index' %}">Index</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'register' %}">sign up</a></li>
                <li><a href="{% url 'login' %}">login</a></li>
                {% endif %}
            </ul>

        </div>

{% endblock %}